body{
    margin: 0px;
    padding: 0px;
}

.frameContainer {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */  
    padding-top: 25px;
    width: 300%; /* enlarge beyond browser width */
    left: -100%; /* center */
}

.frameContainer iframe {
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    pointer-events: none !important;
}

.wrapper {
    overflow: hidden;
    max-width: 100%;
}

.navBar{
    width: 100%;
    height: 5vh;
    position: absolute;
    z-index: 100;
    background-color: transparent;
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

li a{
    margin-right: 17px;
    text-decoration: none;
    color: #fff;
}

.hero{
    width: 100%;
    height: 93.2vh;
    font-size: 15vh;
    position: absolute;
    z-index: 10;
    background-color:transparent;
    text-align: center;
    color: #fff;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: none;
    margin-top: 25vh;
    font-size: 3vh;
}

h1{
    font-style: italic;
}


.heroAbout{
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color:transparent;
    text-align: left;
    color: #fff;
    background-color: black;
}

.yoSoy{
    font-size: 12vh;
    text-align: left;
    font-weight: 200;
    margin-top: 8vh;
    margin-left: 20vh;
    margin-bottom: 10vh;
}

p{
    font-weight: 100;
    margin: 2px;
    font-size: 4vh;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 4vh;
    text-align: center;
    margin-top: 46vh;
}

.marca{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 35vh;
}



.heroContact{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 10;
    background-color:transparent;
    text-align: left;
    color: #fff;
    background-color: black;
}

a{
    text-decoration: none;
    color: #fff;
}

